body {
  background-color: #010101;
}

h2 {
  color: #d51c9a !important;
}

label {
  color: #d51c9a !important;
}
.nav-button {
    color: #d51c9a;
    background-color: #010101;
    font-size: 12px !important;
    font-weight: 900;
    border-image: linear-gradient(to left, #fc01ac, rgb(13, 227, 255)) 1;
    padding: 8px 10px 8px 10px;
    margin-top: 15px;
  }

  #registrationform{
   
     border: 1px solid #fc01ac;
    padding: 15px 10px 8px 20px;
    border-radius: 10px;
  }

  /* Footer  */
#footer {
  background-color: #161515;
}
#footer p {
  color: #9b9a9a;
}
#footer a {
  color: #9b9a9a;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}
